<launch>
<arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
<env name="GAZEBO_RESOURCE_PATH" value="$(find fetch_follow_qrturtle)/models"/>.
	<arg name="robot" default="fetch"/>
	<arg name="debug" default="false"/> 
	<arg name="gui" default="true"/>
	<arg name="headless" default="false"/>
	<arg name="x_pos" default="0.0"/>
 	<arg name="y_pos" default="2.0"/>
  	<arg name="z_pos" default="0.1"/>
	<arg name="roll" default="0.0"/>
	<arg name="pitch" default="0.0"/>
	<arg name="yaw" default="0.1"/>	

<!-- 
  <include file="$(find fetch_follow_qrturtle)/launch/sdf_spawner.launch">
     <arg name="robot_name" value="target_box" />
     <arg name="x" value="0.0" />
     <arg name="y" value="2.0" />
     <arg name="z" value="0.33" />
     <arg name="roll" value="0"/>
     <arg name="pitch" value="0"/>
     <arg name="yaw" value="1.5707" />
     <arg name="sdf_robot_file" value="$(find fetch_follow_qrturtle)/models/target_box/model.sdf" />
	</include> -->


	<group ns = "turtlebot3_burger">

	 <include file="$(find fetch_follow_qrturtle)/launch/sdf_spawner.launch">
		<arg name="robot_name" value="turtlebot3_burger" />
		<arg name="x" value="0.0" />
		<arg name="y" value="-2.0" />
		<arg name="z" value="0" />
		<arg name="roll" value="0"/>
		<arg name="pitch" value="0"/>
		<arg name="yaw" value="1.5707" />
		<arg name="sdf_robot_file" value="$(find fetch_follow_qrturtle)/models/custom_turtle/model-1_4.sdf" />
		
		
		</include>

	
	</group>

	<!-- change turtlebot to teleop -->
<arg name="teleop_topic" default="/turtlebot3_burger/cmd_vel"/> 




  



  <!-- spawn fetch robot -->
  <include file="$(find fetch_follow_qrturtle)/launch/include/fetch.launch.xml" />
  

 <param name="robot_description" command="$(find xacro)/xacro.py $(find fetch_gazebo)/robots/fetch.gazebo.xacro" />


	<!-- start with empty world -->
<include file="$(find gazebo_ros)/launch/empty_world.launch">
	<arg name="world_name" value="$(find fetch_follow_qrturtle)/worlds/env.world"/>
 	<arg name="paused" value="false"/>
 	<arg name="use_sim_time" value="true"/>
	<arg name="gui" value="true"/>
	<arg name="recording" value="false"/>
	<arg name="debug" value="false"/>
  </include>
  

</launch>
